*{
  margin:0;
  padding: 0;
}

/* navabr style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(45,44,45);
  color: white;
  height: 60px;
}

.navbar__right a{
  text-decoration: none;
  color: white;
}

.navbar__right {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  gap: 10px;
}

/* searchbar style */

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241,239,241);
  height: 120px;
}

.search__container {
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  overflow: hidden;
}

.search__input {
  flex: 1;
  width: 200px;
  padding: 10px;
  border: none;
  outline: none;
}

.search__button {
  background-color: rgb(45,44,45);
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* Result style */

.result {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.result__content {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(241,239,241);
  border-radius: 5px;
}

/* historyPage */

.history {
  margin: 15px;
}

.history > a {
  cursor: pointer;
}